.toggle .header {
    display: block;
    clear: both;
}

    .toggle .header:after {
        content: " ➕ Expand";
        color: rgb(0, 100, 255);
    }

    .toggle .header.open:after {
        content: " ➖ Collapse";
        color: rgb(0, 100, 255);
    }
